<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Registro de Usuario</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Nombres <span classs="required-input">*</span></ion-label>
                    <ion-input [(ngModel)]="userCurrent.nombres" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Apellido Paterno <span classs="required-input">*</span></ion-label>
                    <ion-input [(ngModel)]="userCurrent.apellidoPaterno" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Apellido Materno</ion-label>
                    <ion-input [(ngModel)]="userCurrent.apellidoMaterno"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Sexo <span classs="required-input">*</span></ion-label>
                    <ion-select placeholder="Selecciona Sexo" [(ngModel)]="userCurrent.sexo" required>
                        <ion-select-option value="femenino">Femenino</ion-select-option>
                        <ion-select-option value="masculino">Masculino</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Fecha de Nacimiento <span classs="required-input">*</span></ion-label>
                    <ion-input ></ion-input>
                    <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="userCurrent.fechaNacimiento" requireddisplay-timezone="utc"></ion-datetime>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Nacionalidad <span classs="required-input">*</span></ion-label>
                    <ion-input [(ngModel)]="userCurrent.nacionalidad" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Lugar de Nacimiento <span classs="required-input">*</span></ion-label>
                    <ion-input [(ngModel)]="userCurrent.lugarNacimiento" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">País de Residencia <span classs="required-input">*</span></ion-label>
                    <ion-input [(ngModel)]="userCurrent.paisResidencia" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Estado Reside <span classs="required-input">*</span></ion-label>
                    <ion-input [(ngModel)]="userCurrent.estadoReside" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Municipio <span classs="required-input">*</span></ion-label>
                    <ion-input [(ngModel)]="userCurrent.municipio" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Localidad <span classs="required-input">*</span></ion-label>
                    <ion-input [(ngModel)]="userCurrent.localidad" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Correo Electronico</ion-label>
                    <ion-input [(ngModel)]="userCurrent.email"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Dirección <span classs="required-input">*</span></ion-label>
                    <ion-textarea [(ngModel)]="userCurrent.direccion" required></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="saveUser()" shape="block" fill="outline">Guardar</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>