<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Registro de Usuario</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Nombres</ion-label>
                    <ion-input [(ngModel)]="userCurrent.nombres" #ctrl="ngModel" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Apellido Paterno</ion-label>
                    <ion-input [(ngModel)]="userCurrent.apellidoPaterno" #ctrl="ngModel" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Apellido Materno</ion-label>
                    <ion-input [(ngModel)]="userCurrent.apellidoMaterno"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Sexo</ion-label>
                    <ion-select placeholder="Selecciona Sexo" [(ngModel)]="userCurrent.sexo" #ctrl="ngModel" required>
                        <ion-select-option value="femenino">Femenino</ion-select-option>
                        <ion-select-option value="masculino">Masculino</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Fecha de Nacimiento</ion-label>
                    <ion-input ></ion-input>
                    <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="userCurrent.fechaNacimiento" #ctrl="ngModel" required display-timezone="utc"></ion-datetime>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Nacionalidad</ion-label>
                    <ion-input [(ngModel)]="userCurrent.nacionalidad" #ctrl="ngModel" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Lugar de Nacimiento</ion-label>
                    <ion-input [(ngModel)]="userCurrent.lugarNacimiento" #ctrl="ngModel" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">País de Residencia</ion-label>
                    <ion-input [(ngModel)]="userCurrent.paisResidencia" #ctrl="ngModel" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Estado Reside</ion-label>
                    <ion-input [(ngModel)]="userCurrent.estadoReside" #ctrl="ngModel" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Municipio</ion-label>
                    <ion-input [(ngModel)]="userCurrent.municipio" #ctrl="ngModel" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Localidad</ion-label>
                    <ion-input [(ngModel)]="userCurrent.localidad" #ctrl="ngModel" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Correo Electronico</ion-label>
                    <ion-input [(ngModel)]="userCurrent.email" #ctrl="ngModel" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Dirección</ion-label>
                    <ion-textarea [(ngModel)]="userCurrent.direccion" #ctrl="ngModel" required></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="saveUser()" shape="block" fill="outline">Guardar</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>