<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Sincronizar Registros</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-list-header color="primary" center lines="full">
            <ion-label><h1><b>{{ syncUpWithout }}</b> Sin Sincronizar</h1></ion-label>
            <IonButton *ngIf="!isLoading && listUserCurrent.length > 0" (click)="sycnUpServer()">Sincronizar</IonButton>
        </ion-list-header>
        <div *ngIf="!isLoading && listUserCurrent.length > 0">
            <ion-item lines="none" *ngFor="let user of listUserCurrent">
                <ion-label color="primary">
                    <h3>{{ user.nombres + ' ' + user.apellidoPaterno + ' ' + user.apellidoMaterno }}</h3>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>
</ion-content>